<div class="col-md-2">
  <ng-container *ngIf="product.imageUrls">
    <img class="img-rounded img-responsive" src="{{ product.imageUrls[0] }}" />
  </ng-container>
</div>
<div class="col-md-4">
  <div class="row">
    <h4>{{ product.name }}</h4>
  </div>
  <div class="row">
    <label>Price: </label>
    <span>{{ product.price }}</span>
  </div>
  <div class="row">
    <label>Products left: </label>
    <span>{{ product.amount }}</span>
  </div>
</div>
<div class="col-md-4">
  <div class="row">
    <ng-container *ngFor="let department of product.departments?.toString().split(',')">
      <span *ngIf="department">
        <a class="tag-layout" (click)="emitDepartmentParam(department)">{{ department }}</a>
      </span>
    </ng-container>
  </div>
  <div class="row">

  </div>
  <div class="row">
    <button class="btn btn-danger" (click)="deleteProduct()">Delete</button>
  </div>
</div>
