<div>
  <h3>Create new product: </h3>
  <div>
    <form #newProductForm (submit)="createProduct(product)" class="container">
      {{ diagnostic }}
      <div class="form-inline row">
        <div class="col-md-12">
          <div class="row">
            <label class="col-md-2" for="productName">Product name: </label>
            <input class="form-control col-md-2"
                   name="productName"
                   id="productName"
                   #productName="ngModel"
                   type="text"
                   placeholder="Name"
                   [(ngModel)]="product.name"
                   required />
          </div>
          <div class="row col-md-offset-2 col-md-2 alert alert-danger"
               [hidden]="productName.valid || productName.pristine">
            Name is required
          </div>
        </div>
      </div>
      <div class="form-inline row">
        <div class="col-md-12">
          <div class="row">
            <label class="col-md-2" for="productPrice">Product price: </label>
            <input
              class="form-control col-md-2"
              name="productPrice"
              id="productPrice"
              type="number"
              [min]="0"
              placeholder="0.00"
              [(ngModel)]="product.price"
              required
              #productPrice="ngModel"/>
          </div>
          <div class="row">
            <div class="row col-md-offset-2 col-md-2 alert alert-danger"
                 [hidden]="productPrice.valid || productPrice.pristine">
              Product price is required
            </div>
          </div>
        </div>
      </div>
      <div class="form-inline row">
        <label class="col-md-2" for="productAmount">Product amount: </label>
        <input class="form-control col-md-2" name="productAmount" id="productAmount" type="number" [min]="0" placeholder="0" [(ngModel)]="product.amount" required />
      </div>
      <div class="form-inline row" *ngIf="departments">
        <label class="col-md-2" for="productName">Product department: </label>
        <select class="form-control col-md-2" multiple="multiple" name="productDepartments" [(ngModel)]="product.departments">
          <option *ngFor="let department of departments" value="{{ department }}">
            {{ department.toString().replace('#', '') }}
          </option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!newProductForm.checkValidity()">Submit</button>
    </form>
  </div>
</div>
