<div class="container">
  <div class="row">
    <ng-container *ngFor="let route of routes; let i = index">
      <span *ngIf="i == 0">
        <a routerLink="/">
          <i class="glyphicon glyphicon-home"></i>
        </a>
      </span>
      <span *ngIf="(i != 0) && (routes.length > 1)">
        <a routerLink="{{ routes.slice(1, i+1).toString().replace(',', '/') }}">{{route}}</a>
      </span>
      <span> / </span>
    </ng-container>
  </div>
</div>
