<form [formGroup]="newProductForm" (ngSubmit)="onSubmit(newProductForm.value)">
  <div class="form-inline row">
    <div class="col-md-12">
      <div class="row">
        <label class="col-md-2" for="name">Product name: </label>
        <input class="form-control col-md-2"
               name="name"
               id="name"
               type="text"
               placeholder="Product name"
               [formControl]="name"
               [ngClass]="{'invalid': !name.valid && newProductForm.touched, 'valid': name.valid && newProductForm.touched}" />
      </div>
    </div>
  </div>
  <div class="form-inline row">
    <div class="col-md-12">
      <div class="row">
        <label class="col-md-2" for="price">Product price: </label>
        <input
          class="form-control col-md-2"
          name="price"
          id="price"
          type="number"
          [min]="0"
          placeholder="0.00"
          [formControl]="price"
          [ngClass]="{'invalid': !price.valid && newProductForm.touched, 'valid': price.valid && newProductForm.touched}"/>
      </div>
    </div>
  </div>
  <div class="form-inline row">
    <label class="col-md-2" for="amount">Product amount: </label>
    <input class="form-control col-md-2"
           name="amount"
           id="amount"
           type="number"
           [min]="0"
           placeholder="0"
           [formControl]="amount"
           [ngClass]="{'invalid': !amount.valid && newProductForm.touched, 'valid': amount.valid && newProductForm.touched}"/>
  </div>
  <div class="form-inline row" *ngIf="departments">
    <label class="col-md-2" for="departments">Product department: </label>
    <select class="form-control col-md-2 selection-layout"
            multiple="multiple"
            name="departments"
            id="departments"
            [formControl]="departments">
      <option *ngFor="let department of allDepartments" value="{{ department }}">
        {{ department.toString().replace('#', '') }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary"
          type="submit"
          [disabled]="!newProductForm.valid">
    Submit
  </button>
</form>
