<div class="panel">
  <div class="panel-heading">
    <h2>Products</h2>
    <button class="btn btn-primary" routerLink="/products/new-product">Create new product</button>
  </div>
  <div class="panel-body">
    <!--
    <div class="row">
      <app-new-product></app-new-product>
    </div>
    -->
    <div class="row">
      <new-product-reactive-form></new-product-reactive-form>
    </div>
    <div class="row">
      <label for="selection">Sort By category:</label>
      <select class="form-control" id="selection" (change)="getProductsForDepartment($event.target?.value)">
        <option *ngFor="let department of departments" value="{{department}}">
          {{ department.replace('#', '') }}
        </option>
      </select>
    </div>
    <ul class="list-group">
      <li class="list-group-item row list-item-layout" *ngFor="let product of products">
        <!--<a class="list-item-click" href="#">-->
        <app-product-item
          (departmentParameter)="getProductsForDepartment($event)"
          (deleteItem)="deleteItem(product)"
          [product]="product">
        </app-product-item>
        <!--</a>-->
      </li>
    </ul>
  </div>
</div>
