<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a href="#">Help</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
    </ul>
  </div>
</nav>
